version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
    environment:
      - MAX_UPLOAD_SIZE=10485760 # 10MB
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3080:80"
    depends_on:
      - backend
    restart: always
